.products-header {
    text-align: center;
    margin-bottom: 48px;
}

.products-title {
    color: #222;
    font-size: 30px;
    margin-bottom: 5px;
}

.products-description {
    color: #9F9F9F;
}

.products-footer {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 95px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    width: 360px;
    background: #F8F8F8;
}

.product-add-to-cart-area {
    position: relative;
}

.product:hover .product-cart-container {
    display: flex;
}

.product-cart-container {
    position: absolute;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.product-details {
    padding: 25px 16px 20px 16px;
}

.product-name {
    font-size: 13px;
}

.product-description {
    color: #5D5D5D;
    margin: 12px 0 18px 0;
}

.product-cost {
    color: #F16D7F;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .products {
        max-width: 736px;
        margin: 0 auto;
        gap: 16px;
    }
    .products-header {
        margin-bottom: 73px;
    }
    .products-footer {
        margin-top: 32px;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 375px) {
    .products {
        justify-content: space-around;
        margin: 0 auto;
        gap: 0;
        row-gap: 16px
    }
    .products-header {
        margin-bottom: 64px;
    }
    .products-footer {
        margin-top: 40px;
        margin-bottom: 96px;
    }
}