* {
  padding: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

body {
  background: #FFF;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-primary {
  box-sizing: border-box;
  color: #FFF;
  font-weight: 300;
  font-size: 16px;
  background: #F26376;
  border: 1px solid #F26376;
  padding: 16px 41px 15px 41px;
}
.btn-primary:hover {
  background: transparent;
  border-color: #222224;
  color: #222224;
  transition-duration: 0.3s;
}
.btn-primary-outline {
  padding: 14px 38px;
  font-size: 16px;
  color: #F26376;
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
}
.btn-primary-outline:hover {
  color: #FFF;
  background: #F26376;
}
.btn-secondary-outline {
  width: 140px;
  height: 44px;
  color: #FFF;
  border: 1px solid #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-default-outline {
  border: 1px solid #A4A4A4;
  background: #FFF;
  color: #A4A4A4;
  padding: 17px 40px 16px 40px;
  font-weight: 300;
}
.btn-default-outline:hover {
  border: 1px solid #F26376;
  color: #F26376;
  transition-duration: 0.3s;
}
.btn-small {
  color: #4A4A4A;
  font-size: 11px;
  padding: 8px 15px 10px 15px;
}

.button-svg {
  width: 26px;
  margin-right: 10px;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.input-primary {
  border: 1px solid #A4A4A4;
  color: #222;
  padding: 12px 16px;
  font-size: 13px;
}
.input-primary::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #B1B1B1;
  opacity: 1;
  font-weight: 300;
}
.input-primary::placeholder { /* Most modern browsers support this now. */
  color: #B1B1B1;
  font-weight: 300;
}
.input-primary:focus {
  color: #F26376;
  border-color: #F26376;
  transition-duration: 0.3s;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  margin: 65px 0 95px 0;
}

.category {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-details {
  position: absolute;
  text-align: center;
}
.category-label {
  font-size: 16px;
  color: #FFF;
}
.category-name {
  font-size: 24px;
  color: #F26376;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .categories {
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 20px;
  }
  .category-image {
    width: 232px;
  }
  .category-lazy .category-image {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .categories {
    width: 343px;
    row-gap: 32px;
  }
  .category-image {
    width: 343px;
  }
  .category-lazy .category-image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
  }
}
.landing-footer {
  background: #222224;
}

.feature {
  height: 341px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.feature-box {
  width: 360px;
  text-align: center;
}
.feature-title {
  margin: 28px 0 16px 0;
  color: #FBFBFB;
  font-size: 20px;
}
.feature-description {
  color: #FBFBFB;
  font-weight: 300;
}

.subscribe {
  height: 448px;
  background: #F2F2F2 url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe-container {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.subscribe-photo {
  text-align: center;
}
.subscribe-quote {
  margin-top: 30px;
  color: #222224;
  font-size: 20px;
  font-style: italic;
  width: 360px;
}
.subscribe-quote span {
  color: inherit;
  font-size: inherit;
  font-style: normal;
}
.subscribe-form {
  text-align: center;
}
.subscribe-header {
  color: #222224;
  font-size: 18px;
  line-height: 167%;
}
.subscribe-header span {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.email {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
.email input {
  border: none;
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  padding: 0 22px;
  border-radius: 30px 0 0 30px;
}

.form-button-end {
  background: #F26376;
  color: #FFF;
  border-radius: 0 30px 30px 0;
  width: 100px;
  height: 49px;
}

.copyright {
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyright p {
  color: #FBFBFB;
  font-size: 16px;
}

.social-link {
  display: inline-block;
  margin-left: 8px;
}
.social-button {
  width: 32px;
  height: 32px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-button:hover {
  background: #F26376;
}

@media screen and (max-width: 768px) {
  .feature {
    height: 610px;
    flex-direction: column;
  }
  .subscribe {
    height: 614px;
    background-size: cover;
    background-position: left;
    background-position-x: -360px;
  }
  .subscribe-container {
    flex-direction: column;
    justify-content: normal;
    row-gap: 48px;
    padding-top: 64px;
  }
  .copyright {
    padding: 0 32px;
  }
}
@media screen and (max-width: 375px) {
  .feature-box {
    width: 320px;
  }
  .subscribe {
    height: 610px;
    background-position-x: -480px;
  }
  .subscribe-container {
    row-gap: 59px;
    padding-top: 64px;
  }
  .form-button-end {
    width: 95px;
  }
  .email input {
    width: 200px;
  }
  .copyright {
    flex-direction: column-reverse;
    padding: 43px 10px;
  }
}
.nav {
  background: #222;
  height: 75px;
}

.navbar {
  display: flex;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-pannel {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navbar-logo {
  width: 112px;
}
.navbar-buttons {
  width: 168px;
  position: relative;
}
.navbar-buttons button:last-child {
  margin-right: 13px;
}

.cart-counter {
  position: absolute;
  top: -9px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: #F26376;
  border-radius: 100%;
  color: #FFF;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: auto 32px;
  }
  .navbar-buttons button:last-child {
    margin-left: 20px;
  }
}
@media screen and (max-width: 375px) {
  .navbar {
    margin: auto 16px;
  }
  .navbar-buttons {
    width: auto;
  }
  .navbar-buttons button {
    display: none;
  }
  .navbar-buttons button:first-child {
    display: block;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.products-margins {
  margin: 128px 0;
}
.products-header {
  text-align: center;
  margin-bottom: 48px;
}
.products-title {
  color: #222;
  font-size: 30px;
  margin-bottom: 5px;
}
.products-description {
  color: #9F9F9F;
}
.products-footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 95px;
}

.product {
  width: 360px;
  background: #F8F8F8;
}
.product-add-to-cart-area {
  position: relative;
}
.product:hover .product-cart-container {
  display: flex;
}
.product-cart-container {
  position: absolute;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.product-details {
  padding: 25px 16px 20px 16px;
}
.product-name {
  font-size: 13px;
}
.product-description {
  color: #5D5D5D;
  margin: 12px 0 18px 0;
}
.product-cost {
  color: #F26376;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .products {
    max-width: 736px;
    margin: 0 auto;
    gap: 16px;
  }
  .products-header {
    margin-bottom: 73px;
  }
  .products-footer {
    margin-top: 32px;
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 375px) {
  .products {
    justify-content: space-around;
    margin: 0 auto;
    gap: 0;
    row-gap: 16px;
  }
  .products-header {
    margin-bottom: 64px;
  }
  .products-footer {
    margin-top: 40px;
    margin-bottom: 96px;
  }
}
.promo {
  height: 764px;
  background: #F1E4E6;
}
.promo-container {
  height: inherit;
  display: flex;
  flex-direction: row;
  position: relative;
}
.promo-container .promo-column {
  width: 50%;
  display: flex;
  align-items: center;
}
.promo-image {
  position: absolute;
  display: block;
  left: -250px;
  bottom: 0;
}
.promo-label {
  border-left: 12px solid #F26376;
  padding-left: 16px;
  width: 405px;
}
.promo-header {
  color: #222;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}
.promo-huge {
  display: block;
  font-size: 48px;
  font-weight: 900;
}
.promo-accent {
  color: #F26376;
  font-size: inherit;
  font-weight: inherit;
}

@media screen and (max-width: 768px) {
  .promo {
    height: 367px;
  }
  .promo-image {
    width: 386px;
    left: -10px;
  }
  .promo-header {
    font-size: 24px;
  }
  .promo-huge {
    font-size: 44px;
  }
}
@media screen and (max-width: 375px) {
  .promo {
    height: 363px;
  }
  .promo-image {
    display: none;
  }
  .promo-label {
    padding-left: 15px;
    width: 263px;
    margin: 0 0 0 12px;
  }
  .promo-header {
    font-size: 20px;
  }
  .promo-huge {
    font-size: 38px;
  }
  .promo-container .promo-column:nth-child(2) {
    display: none;
  }
  .promo-container .promo-column {
    width: 100%;
    justify-content: center;
  }
}
.nav-panel {
  height: 148px;
  background: #F8F3F4;
}
.nav-panel-container {
  display: flex;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-panel-heading {
  color: #F16D7F;
  font-size: 24px;
}
.nav-panel-breadcrumbs {
  list-style: none;
}
.nav-panel-breadcrumbs-li {
  display: inline-block;
}
.nav-panel-breadcrumbs-li::after {
  content: " / ";
  color: #636363;
  font-weight: 300;
}
.nav-panel-breadcrumbs-li:nth-last-child(1)::after {
  content: "";
}
.nav-panel-breadcrumbs-link {
  color: #636363;
  font-weight: 300;
}
.nav-panel-breadcrumbs-link-current {
  color: #F16D7F;
  font-weight: 700;
}

.product-presenter {
  position: relative;
  min-height: 777px;
}
.product-presenter-backyard {
  position: absolute;
  top: 0;
  height: 777px;
  width: 100%;
  background: #F7F7F7;
  z-index: 111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-presenter-slider-btn {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-presenter-frontyard {
  position: relative;
  z-index: 222;
}
.product-presenter-image {
  display: block;
  margin: 0 auto;
  padding-top: 11px;
}

.details-box {
  height: 501px;
  margin-top: -20px;
  background: #FFF;
  position: relative;
  z-index: 333;
  border: 1px solid #EAEAEA;
  padding: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-box-separate-line-styled {
  border: 3px solid #EF5B70;
  width: 63px;
  margin: 12px 0;
}
.details-box-separate-line {
  width: 641px;
  border: thin solid #EAEAEA;
  margin: 65px 0;
}
.details-box-little-header {
  color: #F16D7F;
}
.details-box-header {
  color: #4D4D4D;
  font-size: 18px;
}
.details-box-description {
  color: #5E5E5E;
  width: 555px;
  text-align: center;
  margin-top: 48px;
}
.details-box-cost {
  color: #EF5B70;
  font-size: 24px;
  margin-top: 32px;
}
.details-box-selectors {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}
.details-box-selector {
  color: #6F6E6E;
  cursor: pointer;
}
.details-box-selector svg {
  margin-left: 9px;
}
.details-box-selector:nth-child(2) {
  margin: 0 22px;
}

.filters-panel {
  position: relative;
  margin-top: 40px;
}

.filter-label {
  color: #6F6E6E;
}
.filter-label path {
  fill: #6F6E6E;
}
.filter-details {
  padding: 13px 16px;
  box-sizing: border-box;
  width: 360px;
  min-height: 531px;
  position: absolute;
}
.filter-details[open] {
  background: #FFF;
  z-index: 444;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.filter-details[open] .filter-label, .filter-details[open] path {
  color: #F26376;
  fill: #F26376;
}
.filter-details-within[open] .filter-summary-within {
  color: #F26376;
}
.filter-summary {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  width: 70px;
  gap: 9px;
}
.filter-summary-within {
  cursor: pointer;
  color: #6F6E6E;
  border-bottom: thin solid #EBEBEB;
  border-left: 5px solid #F26376;
  padding: 9px 11px;
  margin-bottom: 19px;
}
.filter-box {
  margin-top: 16px;
}
.filter-box-within {
  margin: 25px 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter-link {
  color: #6F6E6E;
}
.filter-link:hover {
  color: #F26376;
}

.group-filters {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  margin: 13px auto;
  text-align: center;
  width: 360px;
  display: flex;
  justify-content: space-around;
  z-index: 555;
}

.simple-summary {
  cursor: pointer;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 20px;
  align-items: center;
}
.simple-summary span {
  color: #6F6E6E;
}
.simple-summary path {
  fill: #6F6E6E;
}
.simple-summary:hover span {
  color: #F26376;
}
.simple-summary:hover path {
  fill: #F26376;
}
.simple-box {
  background: #FFF;
  z-index: 666;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 103px;
  box-sizing: border-box;
  padding: 9px;
  text-align: left;
}
.simple-box-checkbox-container {
  margin-bottom: 6px;
}
.simple-box-checkbox-container:nth-last-child(1) {
  margin-bottom: 0;
}
.simple-box-checkbox {
  display: none;
}
.simple-box-checkbox:not(:disabled):not(:checked) + .simple-box-label:hover::before {
  border-color: #F26376;
}
.simple-box-checkbox:not(:disabled):not(:checked) + .simple-box-label:hover {
  color: #F26376;
}
.simple-box-checkbox:not(:disabled):checked + .simple-box-label::before {
  border-color: #F26376;
  background: #F26376;
}
.simple-box-checkbox:not(:disabled):checked + .simple-box-label {
  color: #F26376;
}
.simple-box-label {
  cursor: pointer;
  color: #6F6E6E;
  position: relative;
  padding-left: 22px;
}
.simple-box-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked + .menu {
  right: 0;
}
#burger:not(:checked) + .menu {
  right: -232px;
}

.burger-label {
  cursor: pointer;
}

.menu {
  width: 232px;
  min-height: 634px;
  position: absolute;
  background: #FFF;
  z-index: 777;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  transition: right 0.3s;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 96px 0 128px 0;
}
.cart-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 72px;
}
.cart-form-box {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.cart-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-card {
  background: #FFF;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  height: 306px;
}
.cart-card-image {
  max-width: 262px;
}
.cart-card-details {
  padding: 22px 31px;
  width: 390px;
  position: relative;
}
.cart-card-delete {
  position: absolute;
  right: 22px;
  top: 28px;
}
.cart-card-item-title {
  color: #222;
  font-size: 24px;
  max-width: 262px;
  margin-bottom: 42px;
}
.cart-card-item-property {
  margin-bottom: 6px;
}
.cart-card-item-property:nth-last-child(1) {
  margin-bottom: 0px;
}
.cart-card-item-label {
  color: #575757;
  font-size: 22px;
}
.cart-card-item-label::after {
  content: " ";
}
.cart-card-item-value {
  font-size: 22px;
  color: #6F6E6E;
}
.cart-card-item-value-accent {
  font-size: 22px;
  color: #F26376;
}
.cart-card-item-counter {
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  color: #656565;
  font-size: 18px;
  width: 44px;
  height: 25px;
  text-align: center;
}

.shipping {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shipping-header {
  color: #222;
  font-weight: 300;
  font-size: 16px;
}
.shipping-submit-button {
  width: 110px;
}

.total {
  background: #F5F3F3;
  padding: 39px 37px 42px 37px;
  text-align: right;
}
.total-sub {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-bottom: 12px;
}
.total-sub span {
  font-size: 11px;
  color: #4A4A4A;
}
.total-grand {
  display: flex;
  gap: 30px;
  justify-content: end;
}
.total-grand span {
  font-size: 16px;
  color: #222;
  font-weight: 300;
}
.total-grand-accent {
  font-weight: 700 !important;
  color: #F26376 !important;
}
.total-hr {
  border: thin solid #E2E2E2;
  width: 275px;
  margin: 21px auto 17px auto;
}
.total-button-position {
  margin: 0 auto;
}

.registration {
  margin: 64px 0 96px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 360px;
}
.registration-form input[type=text] {
  width: inherit;
}
.registration-form__submit {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
.registration-form__submit span {
  color: #FFF;
}
.registration-form__submit path {
  fill: #FFF;
}
.registration-form__submit:hover span {
  color: #222224;
}
.registration-form__submit:hover path {
  fill: #222224;
}
.registration-form__title {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 300;
}
.registration-form__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: rgb(177, 177, 177);
  margin-top: 15px;
  margin-bottom: 40px;
}
.registration-form__switch {
  margin-top: 31px;
  margin-bottom: 33px;
  border: none;
  display: flex;
  gap: 20px;
}
.registration-form__label span {
  color: #000;
  font-size: 11px;
  font-weight: 300;
  margin-left: 10px;
}
.registration-form__radio::after {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  top: -1px;
  left: -1px;
  position: relative;
  display: inline-block;
  visibility: visible;
  border: 1px solid rgb(164, 164, 164);
  background-color: #FFF;
}
.registration-form__radio:checked::after {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 100%;
  top: -1px;
  left: -1px;
  position: relative;
  display: inline-block;
  visibility: visible;
  border: 1px solid rgb(164, 164, 164);
  background-color: #F26376;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: inherit;
}

.perks {
  width: 652px;
}
.perks__header {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 22px;
}
.perks__text {
  font-size: 24px;
  font-weight: 300;
}
.perks__list {
  list-style: none;
  margin-top: 21px;
}
.perks__item {
  font-size: 24px;
  font-weight: 300;
}
.perks__item svg {
  margin-right: 23px;
}
.perks__item:not(:last-child) {
  margin-bottom: 16px;
}