.cart {

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 96px 0 128px 0;
    }

    &-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 72px;
    }

    &-form-box {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 57px;
    }
}

.cart-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cart-card {
    background: $bodyColor;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: row;
    height: 306px;
    

    &-image {
        max-width: 262px;
    }

    &-details {
        padding: 22px 31px;
        width: 390px;
        position: relative;
    }

    &-delete {
        position: absolute;
        right: 22px;
        top: 28px;
    }

    &-item {
        &-title {
            color: $textCommonAlternate;
            font-size: 24px;
            max-width: 262px;
            margin-bottom: 42px;
        }
    
        &-property {
           margin-bottom: 6px;
           
           &:nth-last-child(1) {
              margin-bottom: 0px;
           }
        }
    
        &-label {
            color: #575757;
            font-size: 22px;

            &::after {
                content: ' ';
            }
        }
    
        &-value {
            font-size: 22px;
            color: #6F6E6E;

            &-accent {
                font-size: 22px;
                color: $firstActiveColor;
            }
        }

        &-counter {
            margin-left: 24px;
            border: 1px solid #EAEAEA;
            color: #656565;
            font-size: 18px;
            width: 44px;
            height: 25px;
            text-align: center;
        }
    }
}

.shipping {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-header {
        color: $textCommonAlternate;
        font-weight: 300;
        font-size: 16px;
    }

    &-submit-button {
        width: 110px;
    }
}

.total {
    background: #F5F3F3;
    padding: 39px 37px 42px 37px;
    text-align: right;

    &-sub {
        display: flex;
        gap: 20px;
        justify-content: end;
        margin-bottom: 12px;

        & span {
            font-size: 11px;
            color: #4A4A4A;
        }
    }

    &-grand {
        display: flex;
        gap: 30px;
        justify-content: end;

        & span {
            font-size: 16px;
            color: $textCommonAlternate;
            font-weight: 300;
        }

        &-accent {
            font-weight: 700 !important;
            color: $firstActiveColor !important;
        }
    }

    &-hr {
        border: thin solid #E2E2E2;
        width: 275px;
        margin: 21px auto 17px auto;
    }

    &-button-position {
        margin: 0 auto;
    }
}

@media screen and (max-width: $mediaTabletWidth) {
    .cart {
        margin: 60px 16px 128px 16px;

        &-container {
            flex-direction: column;
        }
    }

    .cart-card {

        &-delete {
            right: 24px;
        }
    }

    .cart-options {
        width: (225px * 2) + 48px;
        margin: 64px auto;
    }

    .cart-form-box {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }

    .shipping {
        box-sizing: border-box;
        min-width: 360px;
    }

    .total {
        box-sizing: border-box;
        min-width: 360px;
        margin-top: 37px;
    }
}

@media screen and (max-width: $mediaMobileWidth) {
    .cart {
        width: calc(100vw - 20px);
        margin: 0 auto;

        &-container {
            margin-top: 40px;
            margin-bottom: 96px;
        }

        &-options {
            width: calc(100vw - 20px);
            margin-top: 30px;
            margin-bottom: 48px;

            & > button {
                width: 175px;
                font-size: 12px;
                padding: 9px 18px;
            }
        }

        &-card {

            height: 188px;

            &-image {
                width: 143px;
            }

            &-delete {
                top: 17px;
                right: 12px;

                & svg {
                    width: 10px;
                }
            }

            &-item {

                &-title {
                    font-size: 16px;
                    margin-bottom: 25px;
                }

                &-label {
                    font-size: 14px;
                }

                &-value {
                    font-size: 14px;
                    &-accent {
                        font-size: 14px;
                    }
                }

                &-counter {
                    font-size: 12px;
                    width: 24px;
                    height: 15px;
                }
            }
        }
    }

    .cart-form-box {
        flex-direction: column;
        gap: 48px;
    }
    .total {
        margin-top: 0;
    }

    .shipping {

        &__textinput {
            max-width: calc(100vw - 20px);
        }
        
    }
}