* {
    padding: 0;
    margin: 0;
    color: $textCommon;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

body {
    background: $bodyColor;
    overflow-x: hidden;
}

.wrapper {
    max-width: $defaultMaxWidth;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-primary {
        box-sizing: border-box;
        color: $bodyColor;
        font-weight: 300;
        font-size: 16px;
        background: $firstActiveColor;
        border: 1px solid $firstActiveColor;
        padding: 16px 41px 15px 41px;
    }

    &-primary:hover {
        background: transparent;
        border-color: $bodyDarkColor;
        color: $bodyDarkColor;
        transition-duration: .3s;
    }

    &-primary-outline {
        padding: 14px 38px;
        font-size: 16px;
        color: $firstActiveColor;
        width: 212px;
        height: 48px;
        border: 1px solid $firstActiveColor;
    }

    &-primary-outline:hover {
        color: $bodyColor;
        background: $firstActiveColor;
    }

    &-secondary-outline {
        width: 140px;
        height: 44px;
        color: $bodyColor;
        border: 1px solid $bodyColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-default-outline {
        border: 1px solid #A4A4A4;
        background: $bodyColor;
        color: #A4A4A4;
        padding: 17px 40px 16px 40px;
        font-weight: 300;
    }

    &-default-outline:hover {
        border: 1px solid $firstActiveColor;
        color: $firstActiveColor;
        transition-duration: .3s;
    }

    &-small {
        color: #4A4A4A;
        font-size: 11px;
        padding: 8px 15px 10px 15px;
    }
}

.button-svg {
    width: 26px;
    margin-right: 10px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.input {
    &-primary {
        border: 1px solid #A4A4A4;
        color: $textCommonAlternate;
        padding: 12px 16px;
        font-size: 13px;
    
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $textPlaceholder;
            font-weight: 300;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: $textPlaceholder;
           opacity:  1;
           font-weight: 300;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: $textPlaceholder;
           opacity:  1;
           font-weight: 300;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: $textPlaceholder;
           font-weight: 300;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
           color: $textPlaceholder;
           font-weight: 300;
        }
        &::placeholder { /* Most modern browsers support this now. */
           color: $textPlaceholder;
           font-weight: 300;
        }
    }
    
    &-primary:focus {
        color: $firstActiveColor;
        border-color: $firstActiveColor;
        transition-duration: .3s;
    }
}
