// ****************
// **** Colors ****
// ****************
$textCommon: #000;
$textCommonAlternate: #222;
$textCommonLight: #FBFBFB;
$bodyColor: #FFF;
$bodyColorAlternate: #F1E4E6;
$bodyDarkColor: #222224;
$firstActiveColor: #F26376;
$secondActiveColor: #F16D7F;
$thirdActiveColor: #EF5B70;
$textGentle: #9F9F9F;
$textDarkGentle: #5D5D5D;
$boxColor: #F8F8F8;
$boxColorAlternate: #F2F2F2;
$inputBackgroundColor: #E1E1E1;
// ***************
// **** Sizes ****
// ***************
$defaultMaxWidth: 1140px;
$widthBurgerMenu: 232px;